<header class="navbar-light navbar-sticky">
    <nav class="navbar navbar-expand-xl z-index-9">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img class="light-mode-item navbar-brand-item h-40px" src="{{ asset('assets/images/Logo.png') }}" alt="NOVA">
                <img class="dark-mode-item navbar-brand-item h-40px" src="{{ asset('assets/images/Logo.png') }}" alt="NOVA">
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>

            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}"><i class="bi bi-house me-2"></i>Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('course_index') }}"><i class="bi bi-book me-2"></i>Courses</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('my_library') }}"><i class="bi bi-journal-bookmark me-2"></i>Library</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('calendar_index') }}"><i class="bi bi-calendar3 me-2"></i>Calendar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_front_quiz_index') }}"><i class="bi bi-lightning-charge me-2"></i>Quizzes</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_forum') }}"><i class="bi bi-chat-dots me-2"></i>Forum</a>
                    </li>
                    </ul>
                </div>
            {% if app.user %}
            <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                <li class="nav-item ms-2 ms-sm-3 dropdown d-none d-sm-block">
                    <a class="btn btn-light btn-round mb-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <i class="bi bi-bell fa-fw"></i>
                    </a>
                    <span class="notif-badge animation-blink"></span>
                </li>
                <li class="nav-item ms-3 dropdown">
                    <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="avatar-img rounded-circle" src="{{ asset('assets/images/avatar/01.jpg') }}" alt="avatar">
                    </a>
                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                        <li class="px-3 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="avatar me-3">
                                    <img class="avatar-img rounded-circle shadow" src="{{ asset('assets/images/avatar/01.jpg') }}" alt="avatar">
                                </div>
                                <div>
                                    <a class="h6" href="#">{{ app.user.username }}</a>
                                    <p class="small m-0">{{ app.user.email }}</p>
                                </div>
                            </div>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        
                        {# DASHBOARD LINK LOGIC #}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                             <li><a class="dropdown-item" href="{{ path('app_admin_dashboard') }}"><i class="bi bi-shield-lock fa-fw me-2"></i>Admin Dashboard</a></li>
                        {% elseif 'ROLE_TUTOR' in app.user.roles %}
                             <li><a class="dropdown-item" href="{{ path('admin_game_index') }}"><i class="bi bi-speedometer2 fa-fw me-2"></i>Tutor Dashboard</a></li>
                             <li><a class="dropdown-item" href="{{ path('enrollment_requests') }}"><i class="bi bi-person-check fa-fw me-2"></i>Enrollment Requests</a></li>
                        {% else %}
                             <li><a class="dropdown-item" href="{{ path('app_student_dashboard') }}"><i class="bi bi-speedometer2 fa-fw me-2"></i>My Dashboard</a></li>
                        {% endif %}
                        
                        <li><a class="dropdown-item" href="{{ path('app_student_profile') }}"><i class="bi bi-person fa-fw me-2"></i>My Profile</a></li>
                        <li><a class="dropdown-item bg-danger-soft-hover" href="{{ path('app_logout') }}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                <li class="nav-item ms-2">
                    <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-primary mb-0">Sign In</a>
                </li>
                <li class="nav-item ms-2">
                    <a href="{{ path('app_signup') }}" class="btn btn-sm btn-primary mb-0">Get Started</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
</header>